body{
    overflow-x: hidden;
}
.prev-btn{
    cursor: pointer;
}
.next-btn{
    cursor: pointer;
}

.days{
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    grid-template-rows: repeat(6, minmax(100px , 1fr));
    
}
.days div{
    border: 2px solid black;
    text-align: right;
}
.days p{
    border: 2px solid black;
    text-align: left;
}
#formAjout{
    width: 50%;
    display: none;
    left: 25%;
    right: 25%;
    top: 0%;
    position: fixed
    
}
#cover{
    display: none;
    position: fixed;
    inset: 0%;
    background-color: black;
    opacity: 80%;
}
#formAjout.formAjoutToggle{
    display: block;
}
#cover.formAjoutToggle{
    display: block;
}
@media screen and (max-width:769px){
    #formAjout{
        top: 5%;
        width: 100%;
        left: 0%;
        right: 0%;
    }
    
}