body{
    overflow-x: hidden;
}
.prev-btn{
    cursor: pointer;
}
.next-btn{
    cursor: pointer;
}

.days{
    display: grid;
    grid-template-columns: repeat(7 , 1fr);
    grid-template-rows: repeat(6 , 200px);
    
}
.days div{
    border: 2px solid black;
    text-align: right;
}
#formAjout{
    display: none;
    left: 25%;
    right: 25%;
    top: 20%;
    position: fixed
    
}
#cover{
    display: none;
    position: fixed;
    inset: 0%;
    background-color: black;
    opacity: 80%;
}
#formAjout.formAjoutToggle{
    display: block;
}
#cover.formAjoutToggle{
    display: block;
}